body{
    margin:0;
    background-image: url("../imagenes/Beijing1920.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    margin-top: 0px;
}

.container {
    flex-direction: row;

    height: 30%;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
    margin-left: 50px;
}

.container div {
    margin-bottom: 15px;
    width: 100%;
}

.input-datos label{
    display: inline-block;
    width: 25%;
}

.input-datos input {
    width: 60%;
    display: inline-block;
}

.button-container input {
    background-color: rgb(233, 141, 13);
    color : white;
    border-radius: 5px;
}

.button-container input:hover {
    background-color: rgb(162, 99, 10);
    color: rgb(255, 255, 255);
}

.mensaje-error {
    color: red;
}

.mensaje-exito {
    color: green;
}