header{
    position: fixed;
    background-color: rgb(250, 10, 25);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1000; /* siempre arriba */
}

.main-header{
    color: white;
}
.Main_Logo{
    height: 65px;
    width: 65px;
}

.Principal{
    display: flex;
    color: #222222;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

