<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Catálogo de Productos</title>
  <link rel="stylesheet" th:href="@{/css/articulos.css}">
</head>
<body>
<div class="container">
  <h2>Catálogo de Productos</h2>


  <div class="carrito-btn-container">
    <a href="/carrito" class="btn-carrito">🛒 Ver Carrito</a>
  </div>

  <div class="grid">
    <div class="card" th:each="articulo : ${articulos}">
      <img th:src="${articulo.imageUrl}" alt="Imagen del producto">
      <h3 th:text="${articulo.name}"></h3>
      <p th:text="${articulo.description}"></p>
      <p><strong>₡<span th:text="${articulo.price}"></span></strong></p>

      <form th:action="@{/articulos/agregar}" method="post">
        <input type="hidden" name="id" th:value="${articulo.id}">
        <button type="submit" class="btn-agregar">Agregar al carrito</button>
      </form>
    </div>
    <a href="/carrito" class="btn btn-carrito">Ver Carrito</a>
  </div>
</div>
</body>
</html>
