<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Los CSS se cargarán desde las páginas que usen estos fragmentos -->
</head>
<body>

<!-- Header fragment -->
<div th:fragment="header">
    <header class="main-header">
        <div class="logo">
            <a class="Main_Logo" href="https://pokemondb.net/pokedex/charmander"><img src="https://img.pokemondb.net/sprites/lets-go-pikachu-eevee/normal/charmander.png" alt="Charmander"></a>
            <h2 class="Principal_tittle"> Pokedex UNA</h2>
        </div>
        <nav>
            <ul>
                <li th:if="${usuarioLog == null and title != 'Ingresar'}">
                    <a href="/credenciales/ingresar">Login</a>
                </li>

                <li th:if="${usuarioLog != null}">
                    <div style="display: flex; align-items: center;">
                        Hola: <span th:text="${usuarioLog.email}"></span>
                        <form th:action="@{/credenciales/logout}" method="post">
                            <button type="submit" style="margin-left: 5px; background-color: #d46a00; color: white; border-radius: 5px">Logout</button>
                        </form>
                    </div>
                </li>

                <li th:if="${title != 'Home'}">
                    <a href="/" class="nav-link">Inicio</a>
                </li>

                <li th:if="${title != 'Carrito' || title != 'Home'}">
                    <a href="/carrito">Carrito</a>
                </li>
            </ul>
        </nav>
    </header>
</div>

<!-- subheader fragment -->
<div th:fragment="subheader" class="subheader">
    <nav class="subheader-nav">
        <ul>
            <li><a href="/" class="nav-link">Comics</a></li>
            <li><a href="/">Figuras de acción</a></li>
            <li><a href="/">Series</a></li>
            <li><a href="/">Eventos</a></li>
        </ul>
    </nav>
</div>



<!-- Footer fragment -->
<div th:fragment="footer" class = "container_footer">
    <footer>
        <div class="logo-footer">
            <img th:src="@{/imagenes/Logo_3.png}" alt="Logo_3">
            <p>指先で文化に触れる</p>
        </div>
        <p>Proyecto Programación 4 - 2025</p>
    </footer>
</div>

</body>
</html>