<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/articulos.css}">
    <title>Central Geek</title>
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<main>

    <div class="hero">
        <img class="hero-image" src="/imagenes/main_background.jpg" alt="Fondo Central Geek">
        <div class="hero-text">
            <h1>Central Geek</h1>
            <p>Descubre productos de la cultura Japonesa y popular</p>
        </div>
    </div>


    <section>
        <div th:replace="~{articulos :: catalogo}"></div>
    </section>
</main>
<div th:replace="~{fragments :: footer}"></div>
</body>
</html>