<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesion</title>
</head>
<body>


<div class="container">

    <h2>Iniciar session</h2>
    <form  method="POST" action="/ingresar" th:object="${usuario}">
        <div th:classappend="${error} ? ' mensaje-error' : ''" class="input-datos">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class = "input-datos">
            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="passwordHash" required>
        </div>
        <div class="button-container">
            <input type="submit" value="Validar">
        </div>
        <div>
            Si no posee cuenta existente, debe <a href="/registrar">registrarse</a>
        </div>
    </form>

    <div th:if="${error}" class="mensaje-error">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${exito}" class="mensaje-exito">
        <p th:text="${exito}"></p>
    </div>

</body>

</html>