footer {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: rgb(7, 7, 7);
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.container_footer{
    background: #000;
    color: white;
    text-align: center;
    width: 100%;
}

footer p {
    margin-right: 20px;
}

.logo-footer {
    display: flex;
    align-items: center;
}

.logo-footer img {
    width: auto;
    height: 40px;
    margin-right: 10px;
}