body {

    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ffcc00, #ff4444);
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    padding: 40px 20px;
    text-align: center;
}

.pokedex-header {
    display: flex;
    top: 100px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
}

.titulo {
    font-size: 2rem;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.btn-carrito {
    text-decoration: none;
    background-color: #fff;
    color: #ff4444;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-carrito:hover {
    background-color: #ff4444;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(0.95);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 8px;
}

.card-content {
    margin-top: 10px;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 8px;
    font-size: 1.2rem;
    color: #fff;
}

.card-description {
    font-size: 0.9rem;
    color: #f5f5f5;
    margin-bottom: 10px;
}

.card-price {
    font-size: 1.1rem;
    color: #ffe600;
    margin-bottom: 12px;
}

.btn-agregar {
    background-color: #fff;
    color: #ff4444;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-agregar:hover {
    background-color: #ff4444;
    color: #fff;
}
